<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd
		                http://www.springframework.org/schema/context 
		                http://www.springframework.org/schema/context/spring-context-4.2.xsd
		                http://www.springframework.org/schema/aop 
		                http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
		                http://www.springframework.org/schema/tx 
		                http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">
		
	<context:component-scan base-package="com.springbook.biz"></context:component-scan>
	
<!-- IOC -->
<!-- 	<bean id="collectionBean" class="com.springbook.ioc.injection.CollectionBean"> -->
<!-- 		<property name="addressList"> -->
<!-- 			<set value-type="java.lang.String"> -->
<!-- 				<value>서울시 강남구 역삼동</value> -->
<!-- 				<value>서울시 성동구 성수동</value> -->
<!-- 				<value>서울시 성동구 성수동</value> -->
<!-- 			</set> -->
<!-- 			<list> -->
<!-- 				<value>서울시 강남구 역삼동</value> -->
<!-- 				<value>서울시 성동구 성수동</value> -->
<!-- 			</list> -->
<!-- 			<map> -->
<!-- 				<entry> -->
<!-- 					<key><value>고길동</value></key> -->
<!-- 					<value>서울시 강남구 역삼동</value> -->
<!-- 				</entry> -->
<!-- 				<entry> -->
<!-- 					<key><value>마이콜</value></key> -->
<!-- 					<value>서울시 강서구 화곡동</value> -->
<!-- 				</entry> -->
<!-- 			</map> -->
<!-- 			<props> -->
<!-- 				<prop key="고길동">서울시 강남구 역삼동</prop> -->
<!-- 				<prop key="마이콜">서울시 강서구 화곡동</prop> -->
<!-- 			</props> -->
<!-- 		</property> -->
<!-- 	</bean> -->
<!-- 	<bean id="userService" class="com.springbook.biz.user.impl.UserServiceImpl"> -->
<!-- 		<property name="userDAO" ref="userDAO"></property> -->
<!-- 	</bean> -->
<!-- 	<bean id="userDAO" class="com.springbook.biz.user.impl.UserDAO"/> -->

<!-- AOP -->
<!-- 	<bean id="log"            class="com.springbook.biz.common.Log4jAdvice"></bean> -->
<!-- 	<bean id="before"         class="com.springbook.biz.common.BeforeAdvice"/> -->
<!-- 	<bean id="afterReturning" class="com.springbook.biz.common.AfterReturningAdvice"/> -->
<!-- 	<bean id="afterThrowing"  class="com.springbook.biz.common.AfterThrowingAdvice"/> -->
<!-- 	<bean id="after"          class="com.springbook.biz.common.AfterAdvice"/> -->
<!-- 	<bean id="around"         class="com.springbook.biz.common.AroundAdvice"/> -->
	
<!-- 	<aop:config> -->
<!-- 		<aop:pointcut id="allPointCut" expression="execution(* com.springbook.biz..*Impl.*(..))"/> -->
<!-- 		<aop:pointcut id="getPointCut" expression="execution(* com.springbook.biz..*Impl.get*(..))"/> -->
<!-- 		<aop:aspect ref="log"> -->
<!-- 			<aop:before pointcut-ref="allPointCut" method="printLogging"/> -->
<!-- 			<aop:before pointcut-ref="getPointCut" method="printLogging"/> -->
<!-- 			<aop:after pointcut-ref="getPointCut" method="printLogging"/> -->
<!-- 		</aop:aspect> -->
<!-- 		<aop:aspect ref="before"> -->
<!-- 			<aop:before pointcut-ref="allPointCut" method="beforeLog"/> -->
<!-- 		</aop:aspect> -->
<!-- 		<aop:aspect ref="afterReturning"> -->
<!-- 			<aop:after-returning pointcut-ref="getPointCut" method="afterLog" returning="returnObj"/> -->
<!-- 		</aop:aspect> -->
<!-- 		<aop:aspect ref="afterThrowing"> -->
<!-- 			<aop:after-throwing pointcut-ref="allPointCut" method="exceptionLog" throwing="exceptObj"/> -->
<!-- 		</aop:aspect> -->
<!-- 		<aop:aspect ref="after"> -->
<!-- 			<aop:after pointcut-ref="allPointCut" method="finallyLog"/> -->
<!-- 		</aop:aspect> -->
<!-- 		<aop:aspect ref="around"> -->
<!-- 			<aop:around pointcut-ref="allPointCut" method="aroundLog"/> -->
<!-- 		</aop:aspect> -->
<!-- 	</aop:config> -->
	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>
	
	<!-- Data Source 설정 -->
	<context:property-placeholder location="classpath:config/database.properties"/>
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${jdbc.driver}"  ></property>
		<property name="url"             value="${jdbc.url}"     ></property>
		<property name="username"        value="${jdbc.username}"></property>
		<property name="password"        value="${jdbc.password}"></property>
	</bean>
	
	<!-- Spring JDBC 설정 -->
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<!-- Transaction 설정 -->
	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="get*" read-only="true"/>
			<tx:method name="*"/>
		</tx:attributes>
	</tx:advice>
	
	<aop:config>
		<aop:pointcut id="txPointcut" expression="execution(* com.springbook.biz..*(..))"/>
		<aop:advisor pointcut-ref="txPointcut" advice-ref="txAdvice"/>
	</aop:config>
	
</beans>





















